/* Gradient background */
.background {
  background: rgb(26, 35, 126);
  background: linear-gradient(
    45deg,
    rgba(26, 35, 126, 1) 0%,
    rgba(57, 73, 171, 1) 35%
  );
}

/* Rounded corner for cards */
.rounded-lg {
  border-radius: 0.5rem;
}

/* Drop shadow for cards */
.shadow {
  box-shadow: 0 1px 3px 0 rgba(40, 53, 147, 0.1),
    0 1px 2px 0 rgba(26, 35, 126, 0.06);
}

/* Used for moving layout above extended toolbar */

.translate-up {
  transform: translateY(-76px);
  z-index: 1;
}

.send-to-back {
  z-index: 0;
}

h1 {
  color: '#1F2933';
}
h2 {
  color: '#1F2933';
}
h3 {
  color: '#1F2933';
}
h4 {
  color: '#1F2933';
}
h5 {
  color: '#1F2933';
}
h6 {
  color: '#1F2933';
}

.subheading {
  color: '#1F2933';
}
.body-2 {
  color: '#1F2933';
}
.body-1 {
  color: '#1F2933';
}
.caption {
  color: '#1F2933';
}

/* Highlight variables with P Value below threshold */
.highlight-var {
  border: 4px solid rgb(236,118,188);
  border-radius: 0.4rem;
  padding: 0.25em;
}

.not-highlight-var {
  border: 4px solid transparent;
  border-radius: 0.4rem;
  padding: 0.25em;
}

/*  background: rgb(236,118,188); */
.highlight-var-row {
  background: rgb(236,177,212);
  border: 2px solid white;
}

/* Color gradients for P-value significance */

/* Brewer 6 single-hue reds */
.pval-lt-1-brewer6r {
  background-color: #FFFFFF;
}
.pval-lt-0p1-brewer6r {
  background-color: #FCBBA1;
}
.pval-lt-0p05-brewer6r {
  background-color: #FC9272;
}
.pval-lt-0p01-brewer6r {
  background-color: #FB6A4A;
}
.pval-lt-0p001-brewer6r {
  background-color: #DE2D26;
}

/* Brewer 6 single-hue blues */
.pval-lt-1-brewer6 {
  background-color: #FFFFFF;
}
.pval-lt-0p1-brewer6 {
    background-color: #C6DBEF;
}
.pval-lt-0p05-brewer6 {
  background-color: #9ECAE1;
}
.pval-lt-0p01-brewer6 {
  background-color: #6BAED6;
}
.pval-lt-0p001-brewer6 {
  background-color: #3182BD;
}

/* Brewer 5 single-hue blues */
.pval-lt-1-brewer5 {
  background-color: #FFFFFF;
}
.pval-lt-0p1-brewer5 {
    background-color: #BDD7E7;
}
.pval-lt-0p05-brewer5 {
  background-color: #6BAED6;
}
.pval-lt-0p01-brewer5 {
  background-color: #3182BD;
}
.pval-lt-0p001-brewer5 {
  background-color: #08519C;
}

.pval-lt-1-brewer5v2 {
  background-color: #FFFFFF;
}
.pval-lt-0p1-brewer5v2 {
    background-color: #EFF3FF;
}
.pval-lt-0p05-brewer5v2 {
  background-color: #BDD7E7;
}
.pval-lt-0p01-brewer5v2 {
  background-color: #6BAED6;
}
.pval-lt-0p001-brewer5v2 {
  background-color: #3182BD;
}

/* Brewer 4 single-hue purples */
.pval-lt-1-brewer4p {
  background-color: #FFFFFF;
}
.pval-lt-0p1-brewer4p {
    background-color: #f2f0f7;
}
.pval-lt-0p05-brewer4p {
  background-color: #cbc9e2;
}
.pval-lt-0p01-brewer4p {
  background-color: #9e9ac8;
}
.pval-lt-0p001-brewer4p {
  background-color: #6a51a3;
}

/* Brewer 5 single-hue purples */
.pval-lt-1-brewer5p {
  background-color: #FFFFFF;
}
.pval-lt-0p1-brewer5p {
  background-color: #f2f0f7;
}
.pval-lt-0p05-brewer5p {
  background-color: #cbc9e2;
}
.pval-lt-0p01-brewer5p {
  background-color: #9e9ac8;
}
.pval-lt-0p001-brewer5p {
  background-color: #756bb1;
}

/* Value 100 */
.pval-lt-1-val100 {
  background-color: #FFFFFF;
}
.pval-lt-0p1-val100 {
  background-color: #A6B3FF;
}
.pval-lt-0p05-val100 {
  background-color: #8C9EFF;
}
.pval-lt-0p01-val100 {
  background-color: #7388FF;
}
.pval-lt-0p001-val100 {
  background-color: #5973FF;
}

/* Value 80 */
.pval-lt-1-val80 {
  background-color: #FFFFFF;
}
.pval-lt-0p1-val80 {
  background-color: #8C97CF;
}
.pval-lt-0p05-val80 {
  background-color: #7683CF;
}
.pval-lt-0p01-val80 {
  background-color: #5F70CF;
}
.pval-lt-0p001-val80 {
  background-color: #485CCF;
}

.var-chart {
  border: 4px solid transparent;
  border-radius: 0.4rem;
}

.highlight-var-chart {
  border: 4px solid rgb(236,118,188);
  border-radius: 0.4rem;
}

/* Default font color for tile span in Sidebar - corresponds to 'primary--text text--lighten-3' */
a.v-list__tile span {
  color: #3F51B5;
}

/* Font color for active selection in Sidebar */
a.v-list__tile.primary span {
  color: #FFFFFF;
}

div.v-stepper__content {
    padding: 10px;
}

div.v-stepper__step {
    padding: 0px;
}

/* AnalysisTracker highlight style - green/silver/grey color scheme */

.tracker_step_highlight {
    background: #eeeeee !important;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-top: 1px dotted black;
}

.toolbar_step_highlight {
    background: #eeeeee !important;
}

/* completed step - #054d40 */
/* active step - 11887b */
/* inactive step -  c4c4c4*/

div.v-stepper__step--complete span.v-stepper__step__step {
    background: #054d40 !important;
}

div.v-stepper__step--complete span.v-stepper__step__step.primary {
    background: #054d40 !important;
}

span.v-stepper__step__step {
    background: #c4c4c4 !important;
}

span.v-stepper__step__step.primary {
    background: #11887b !important;
}

div.v-stepper__step--inactive span.v-stepper__step__step {
    background: #c4c4c4 !important;
}

/* AnalysisTracker highlight style - END green/silver/grey color scheme */

/* Help mode */
.help_mode {
  border: 7px solid #fceb3b !important;
}

/* Make scrollbars visible on Mac */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
