/* Gradient background */
.background {
  background: rgb(26, 35, 126);
  background: linear-gradient(
    45deg,
    rgba(26, 35, 126, 1) 0%,
    rgba(57, 73, 171, 1) 35%
  );
}

/* Rounded corner for cards */
.rounded-lg {
  border-radius: 0.5rem;
}

/* Drop shadow for cards */
.shadow {
  box-shadow: 0 1px 3px 0 rgba(40, 53, 147, 0.1),
    0 1px 2px 0 rgba(26, 35, 126, 0.06);
}

/* Used for moving layout above extended toolbar */

.translate-up {
  transform: translateY(-76px);
  z-index: 1;
}

.send-to-back {
  z-index: 0;
}

h1 {
  color: '#1F2933';
}
h2 {
  color: '#1F2933';
}
h3 {
  color: '#1F2933';
}
h4 {
  color: '#1F2933';
}
h5 {
  color: '#1F2933';
}
h6 {
  color: '#1F2933';
}

.subheading {
  color: '#1F2933';
}
.body-2 {
  color: '#1F2933';
}
.body-1 {
  color: '#1F2933';
}
.caption {
  color: '#1F2933';
}

/* Highlight variables with P Value below threshold */
.highlight-var {
  border: 4px solid rgb(236,118,188);
  border-radius: 0.4rem;
  padding: 0.25em;
}

.not-highlight-var {
  border: 4px solid transparent;
  border-radius: 0.4rem;
  padding: 0.25em;
}

/*  background: rgb(236,118,188); */
.highlight-var-row {
  background: rgb(236,177,212);
  border: 2px solid white;
}

/* Color gradient for P-value significance */
.pval-lt-1 {
  background-color: #FEEDDE;
}

.pval-lt-0p1 {
  background-color: #FDD0A2;
}

.pval-lt-0p05 {
  background-color: #FDAE6B;
}

.pval-lt-0p01 {
  background-color: #FD8D3C;
}

.pval-lt-0p001 {
  background-color: #E6550D;
}

.var-chart {
  border: 4px solid transparent;
  border-radius: 0.4rem;
}

.highlight-var-chart {
  border: 4px solid rgb(236,118,188);
  border-radius: 0.4rem;
}

/* Default font color for tile span in Sidebar - corresponds to 'primary--text text--lighten-3' */
a.v-list__tile span {
  color: #3F51B5;
}

/* Font color for active selection in Sidebar */
a.v-list__tile.primary span {
  color: #FFFFFF;
}

div.v-stepper__content {
    padding: 10px 24px 10px;
}

/* AnalysisTracker highlight style - original color scheme */
/*
.tracker_step_highlight {
    background: rgb(247,216,206,0.5) !important;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-top: 1px dotted black;
}

.toolbar_step_highlight {
    background: rgb(247,216,206,0.5) !important;
}
*/
/* AnalysisTracker highlight style - END original color scheme */

/* AnalysisTracker highlight style - silver/grey color scheme */

.tracker_step_highlight {
    background: rgb(209,211,212,1) !important;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-top: 1px dotted black;
}

.toolbar_step_highlight {
    background: rgb(209,211,212,1) !important;
}

div.v-stepper__step--inactive span.v-stepper__step__step {
    background: rgb(147,149,152,1) !important;
}

span.v-stepper__step__step.primary {
    background: #3f51b5 !important;
}

/* AnalysisTracker highlight style - END silver/grey color scheme */
