/* Gradient background */
.background {
  background: rgb(26, 35, 126);
  background: linear-gradient(
    45deg,
    rgba(26, 35, 126, 1) 0%,
    rgba(57, 73, 171, 1) 35%
  );
}

/* Rounded corner for cards */
.rounded-lg {
  border-radius: 0.5rem;
}

/* Drop shadow for cards */
.shadow {
  box-shadow: 0 1px 3px 0 rgba(40, 53, 147, 0.1),
    0 1px 2px 0 rgba(26, 35, 126, 0.06);
}

/* Used for moving layout above extended toolbar */

.translate-up {
  transform: translateY(-76px);
  z-index: 1;
}

.send-to-back {
  z-index: 0;
}

h1 {
  color: '#1F2933';
}
h2 {
  color: '#1F2933';
}
h3 {
  color: '#1F2933';
}
h4 {
  color: '#1F2933';
}
h5 {
  color: '#1F2933';
}
h6 {
  color: '#1F2933';
}

.subheading {
  color: '#1F2933';
}
.body-2 {
  color: '#1F2933';
}
.body-1 {
  color: '#1F2933';
}
.caption {
  color: '#1F2933';
}
